body{
    font-family: "Montserrat";
}

#titulo{
    background-color: #ff4c68;
    color: #fff;
    font-size: 1.5rem;
}

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

.boton-descarga{
    margin: 5% 3% 5% 0;
}

.imagen{
    width: 60%;
    transform: rotate(25deg);
}

h1{
    font-family: "Montserrat";    
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

#caracteristicas{
    text-align: center;
    margin: 20px auto 20px;
}

.container-fluid{
    padding: 3% 15%;
}

.marca{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.fa-solid{
    color:#ef8172;
    margin: 20px auto 20px;
}

.fa-solid:hover{
    color:#ff4c68;
}

h3{
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 1.5rem;
}

.parrafo{
    font-family: 'Montserrat';
    font-size: 1rem;
}